/* Projects Section */
.projects {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
}

/* Button Box */
.btn-box {
    display: flex;
    gap: 0.6rem;
    /* flex-wrap: wrap; */
    width: 100%;
    justify-content: center;
    padding: 0.88rem;
    /* background-color: red; */
}

/* Project Buttons */
.projectBtn {
    padding: 0.8rem 1.88rem ;
    font-weight: bold;
    cursor: pointer;
    background-color: var(--body-bg);
    color:var(--body-text);
    border: 1px solid var(--hight-light-color);
    margin: 0 !important;
    line-height: 1;
    margin-bottom: 0.68rem !important;
    border-radius: 1.33rem !important;
}

.projectBtn:hover {
    border: 1px solid var(--hight-light-color);
    color:var(--hight-light-color);
    border-radius: 1.33rem !important;
}

.activeBtn {
    background-color: var(--purple);
    color: white;
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 0.68rem !important;

}

/* Card Container */
.card-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap:4rem;
    flex-wrap: wrap;
    margin-top: 2rem;
}

/* Individual Project Card */
.cardBox {
    width: 230px;
    max-width: 230px;  
    min-height: 320px;
    background-color: var(--skill-bg);
    border-radius: 8px;
    transition: all 0.3s ease;
    overflow: hidden; 
    box-shadow: 2px 8px 8px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
}

/* Card Image */
.cardBox img {
    width: 100%;
    max-height: 180px;
    object-fit: cover;
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;
}

/* Card Hover Effect */
.cardBox:hover {
    transform: scale(1.05);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3); 
}
/* Card Content */
.cardContent {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 15px;
    height: 100%;
    text-align: center;
}

/* Project Title */
.cardContent h3 {
    font-size: 1.2rem;
    color:var(--black);
    color: var(--purple);
    margin-bottom: 8px;
}

/* Explore Button */
.cardContent a {
    text-align: center;
    background-color: var(--hight-light-color);
    background-color: var(--skill-bg);
    border: 1px solid var(--body-text);
    padding: 8px 12px;
    margin-top: 10px;
    border-radius: 1.55rem;
    text-decoration: none;
    font-weight: bold;
    transition: all 0.3s ease, color 0.3s ease;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6px;
}

.cardContent a:hover {
    background-color: var(--hight-light-color);
    color: var(--body-text);
    color: white;
    background-color: purple;
    border: none;
}
.cardContent a .arrowIcon{
    transition: transform 0.3s ease-in-out;
}
.cardContent a .arrowIcon:hover{
    transform: translate(5px, 0);
}

/* Responsive Design */
@media (max-width: 768px) {
    .btn-box {
       flex-wrap: wrap;
    }
    .cardBox{
       max-width: 100%;
    }
}
@media(max-width:557px){
    .cardBox{
        width: 100%;
    }
}
