/* Projects Section */
.projects {
    display: flex;
    flex-direction: column;
    /* padding: 40px 20px; */
    align-items: center;
    gap: 50px;
    /* background-color:#20C997; */
}

/* Button Box */
.btn-box {
    display: flex;
    gap: 0.6rem;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    padding: 10px;
}

/* Project Buttons */
.projectBtn {

    background-color: beige;
    color: black;
    border: 1px solid beige;

    padding: 8px 12px;
    font-weight: bold;
    cursor: pointer;
}

.projectBtn:hover {
    background-color: #222;
    color: #ffd700;
    border: 1px solid #ffd700;
}

.active {
    background-color: #ffd700;
}

/* Card Container */
.card-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    flex-wrap: wrap;
    margin-top: 20px;
}

/* Individual Project Card */
.cardBox {
    width: 230px;
    max-width: 230px;  /* Slightly wider cards */
    min-height: 320px;
    background-color: #222;
    border-radius: 8px;
    transition: all 0.3s ease;
    overflow: hidden;  /* Prevent content overflow */
    box-shadow: 2px 8px 8px rgba(0, 0, 0, 0.2); /* Add shadow for depth */
    display: flex;
    flex-direction: column;
}

/* Card Image */
.cardBox img {
    width: 100%;
    max-height: 180px;
    object-fit: cover;
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;
}

/* Card Hover Effect */
.cardBox:hover {
    transform: scale(1.05);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3); /* More prominent shadow on hover */
}

/* Card Content */
.cardContent {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 15px;
    height: 100%;
    text-align: center;
}

/* Project Title */
.cardContent h3 {
    font-size: 1.2rem;
    color:beige;
    margin-bottom: 8px;
}

/* Explore Button */
.cardContent a {
    text-align: center;
    background-color: #ffd700;
    color: black;
    padding: 8px 12px;
    margin-top: 10px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    transition: background-color 0.3s ease, color 0.3s ease;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6px;
}

.cardContent a:hover {
    background-color: #222;
    color: #ffd700;
    border: 1px solid #ffd700;
}
.cardContent a .arrowIcon{
    transition: transform 0.3s ease-in-out;
}
.cardContent a .arrowIcon:hover{
    transform: translate(5px, 0);
}

/* Responsive Design */
@media (max-width: 768px) {
    .btn-box {
        flex-direction: column;
        align-items: center;
    }
    .cardBox{
       max-width: 100%;
    }
}
