.skills-section {
    padding: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 40px;
  }
  .skills-icons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    max-width: 700px;
  }
  
  .skills-icons div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 120px;
    height: 120px;
    background-color: var(--skill-bg);
    border-radius: 10px;
    color:var(--body-text);
    font-size: 2rem;
    font-weight: bold;
    box-shadow: 0px 2px 0px var(--skill-shadow);
    transition: all 0.2s ease-in;
    cursor: pointer;
  }
  
  .skills-icons div:hover {

    background-color: var(--body-bg);
    box-shadow: 0 12px 25px rgba(0, 0, 0, 0.5);
    transform: rotate(360deg) scale(1.2)  !important;
  }

  
  .skills-icons div span {
    margin-top: 0.5rem;
    font-size: 1rem;
    color:var(--purple);
  }
  .skills-icons p{
    color: var(--body-text);
  }

  @media (max-width: 768px) {
    .skills-icons div {
      width: 130px;
      height: 130px;
      font-size: 1.5rem;
    }

  }
  