
/* Navbar container */
.navbar {
  height: 4.7rem;
  width: 100%;
  color: var(--body-text);
  background-color: var(--nav-bg);
  /* backdrop-filter: blur(10px); */
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
  z-index: 2000;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.5);
  transition: background-color 0.3s ease;
  font-weight: 600;
}
/* Logo styling */
.logo h1 {
  font-size: 2rem;
  color:var(--hight-light-color);
  font-weight: 500;
  color: var(--purple);
}

.logo h1::first-letter {
color: var(--body-text);

}

/* Navigation items */
.listItems {
  display: flex;
  align-items: center;
  transition: all 0.3s linear;
}
.item {
  margin-left: 2rem;
  font-size: 1rem;
  color: var(--body-text);
  text-decoration: none;
  cursor: pointer;
  position: relative; 
  transition: color 0.3s ease-in; 
}

.item::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -10px; 
  width: 0; 
  height: 3px; 
  background-color:var(--purple);
  transition: width 0.3s ease-in-out;
  border-radius:3px ;
}


.item:hover::after {
  width: 100%; 
}

/* New nav-links wrapper styles */
.nav-links {
  display: flex; 
  width: 100%; 
}

/* Hamburger menu icon */
.menu-toggle {
  display: none;
  background: none;
  border: none;
  cursor: pointer;
  color: var(--purple);
  margin: 0;
  padding: 0;
}

.clone-btn{
  position: absolute;
  right: 8px;
  top: 25px;
}

/* Responsive styles */
@media (max-width: 768px) {
  .listItems {
    flex-direction: column;
    position: fixed !important;
    align-items: flex-start;
    top: 0;
    left: -280px;
    box-shadow: 0 0 6px rgba(255, 255, 255, 0.5);
    transition: all 0.5s ease; 
    height: 100vh;
    width: 230px;
    background-color: rgba(34, 34, 34, 0.8);
    backdrop-filter: blur(10px);
    display: flex;
  }
  .nav-links {
    flex-direction: column;
    width: 100%; 
    padding: 10px; 
    position: absolute;
    top: 80px;
  }
  .item{
    transition: color 0.2s ease-in;
  }

 
  .navbar {
    height: 5rem; 
    padding: 0 1.5rem;
  }

  .menu-toggle {
    display: flex; 
    align-items: center;
    justify-content: center;
  }

  .menu-toggle:hover {
    transform: scale(1.3); 
    border-radius: 50%; 
  }

 

  .listItems.active {
    left: 0;
  }



  .item {
    margin: 0.88rem 0; 
    font-size: 20px; 
    padding: 0.8rem 2rem; 
    width: 100%; 
    border-radius: 10px;

  }

  .item::after {
    content: none; 
  }

  .item:hover {
    background-color:#333;
  }
}
@media (max-width:500px) {
 .name{
  font-size: 2rem !important;
 } 
}