@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
  padding: 0;
  margin: 0;
  font-family: "Poppins", serif;
  /* font-weight: 500; */
  box-sizing: border-box;
  line-height: 1.5;
}
.light-theme {
  --body-bg: #f9f9f9;
  --body-text: #111111;
  --hight-light-color: rgba(197, 63, 173, 0.8);
  --nav-bg: #ffffff;
  --purple: #a200a2;
  --skill-bg: white;
  --skill-shadow: #e0dae2;
  --about-overlay-bg: rgba(162, 0, 162, 0.15);

}
.dark-theme {
  --body-bg: rgb(13, 8, 20);
  --body-text: #ffffff;
  --hight-light-color: rgba(216, 74, 197, 0.67);
  --nav-bg: #0b0711;
  --purple: purple;
  --skill-bg:rgb(33, 19, 51);
  --skill-shadow:#802097;
  --about-overlay-bg :rgba(128, 0, 128,0.3);

}


html {
  scroll-behavior: smooth;
  scroll-padding-top: 5rem;
}

body {
  margin: 0;
  background-color: var(--body-bg);
  /* background-color: #111; */
  color: var(--body-text);
  overflow: auto;
  overflow-x: hidden;
}

.section-heading {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.section-heading p {
  color: var(--hight-light-color);
}

.section {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  /* max-width: 1200px; */
  padding: 2rem;
}

h1 {
  font-size: 38px;
}

a {
  text-decoration: none;
  color: var(--body-text);
}

a:hover {
  color:var(--purple);
}

i {
  color: var(--hight-light-color) !important;
}

/* link buttons */
.a-btn {
  margin-top: 18px;
  color: var(--hight-light-color);
  padding: 10px 20px;
  border-radius: 1.43rem;
  cursor: pointer;
  text-decoration: none;
  display: inline-flex;
  align-items: center;
  gap: 8px;
  color: var(--body-text);
  border: 1px solid var(--hight-light-color);
  transition: all 0.2s ease-in;
}

.a-btn:hover {
  transform: scale(1.1);
}

.a-btn:active {
  transform: scale(1);
}

button {
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.3s ease;
  margin-top: 14px;
  border-radius: 1.33rem !important;
}

h2 {
  font-size: 2.5rem;
  color: var(--purple);
  border-radius: 50%;
  text-align: center;
  padding: 20px 20px 5px 20px;
}

@media (max-width: 770px) {
  .section {
    min-height: auto;
    padding: 1.50rem;
  }
}

@media (max-width: 768px) {
  .skills-section h2 {
    font-size: 2rem;
  }
}